@tailwind components;

@layer components {
    
    .checkbox-container {
        display: flex;
        align-items: center;
    }
      
    .checkbox-container label {
        display: flex;
        align-items: center;
    }
      
    .checkbox-container input[type='checkbox'] {
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }
      
    .checkbox-container label::before {
        content: '';
        width: 14px;
        height: 14px;
        border-radius: .15em;
        border: .05em solid black;
    }
      
    .checkbox-container input[type='checkbox']:checked + label::before {
        content: '\002714';
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000334;
    }
      
    .checkbox-container input[type='checkbox']:disabled + label::before {
        background-color: #ccc;
        border-color: #999;
    }    
}