input[id="cb1"] + label {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #df1212;
    border-radius: 2px;
    cursor: pointer;
  }
  input[id="cb1"]:checked + label:after {
    position: relative;
    top: -45px;
    left: -28px;
    
    content: '\2714';
    font-size: 14px;
  }
  input[id="cb1"] {
    display: none;
  }